body {
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(247, 235, 235);
    font-family: 'Roboto';
    
}
.first_bl {
    background-color: #EEEFF1;
}
.bl.space {
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    padding: 50px;
}
.menu.space {
    padding: 30px 0 50px 0;
}
.menu {
    display: inline-block;
    vertical-align: top;
}
.link.menu {
    text-decoration: none;
    text-transform: uppercase;
    color: #34547A;
    font-size: 16px;
    font-weight: 500;
    margin-right: 40px;
}
.head.name {
    font-size: 48px;
    font-weight: 500;
    padding: 100px 0 50px 0;
}
.bl_content {
    line-height: 26px;
    color: #727272;
    font-size: 16px;
    width: 540px;
    font-weight: 400;
}
.button {
    background-color: #34547A;
    width: 225px;
    height: 65px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    margin: 50px 0 100px 0;
}
.bl.name {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    padding: 50px 0 40px 0;
    vertical-align: auto;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.blue_bl {
    background-color: #34547A;
    margin-left: auto;
    margin-right: auto;
}
.carts {
    display: inline-block;
    vertical-align: top;
    margin: 50px 30px 50px 0;
    color: white;
}
.size.icon {
    width: 50px;
    margin-right: 15px;
}
.in_bl {
    display: inline-block;
    vertical-align: top;
}
.width_80 {
    width: 80px;
}
.color_font {
    color: white;
}
.size_font {
    font-weight: 500;
    font-size: 21px;
}
